header{
    width: 100%;
    height: 72px;
    color: #cccccc;
}

.header-wrapper{
    height: 100%;
    padding: 15px 6%;
}

ul{
    padding : 0;
    margin:0;
}

li{
    display: inline-block;
    margin-right: 0.7rem;
}

li i{
    font-size: 1.5rem;
}


.account-logo , .bell-notification{
    border-radius: 50%;
    background-color : none;
}

.account-logo {
    padding: 0.5rem 0.5rem;
    background-color : lightblue;
    margin-left: auto;
}

.account-logo button{
    color: #0055a6;
}

.account-login select{
    border: none;
}
.bell-notification{
    border: 1px solid #cccccc ;
    padding: 0.2rem 0.2rem;
}

.bell-notification i{
    color: #777777;
}

input{
    border: none;
    background: none;
}

button{
padding: 0;
border: none;
background: none;
}

.search-button i{
    font-size: 15px;
}
.account-list{
    position: absolute;
    right: 4%;
    top: 15px;
    }

.search-list{
    position: absolute;
    top: 21px;
}

@media only screen and (min-width:900px){
    header{
        position: relative;
        left: 20%;
        width: 80%;
    }

    .header-wrapper{
        padding: 15px 2%;
    }
}

@media only screen and (max-width:600px){
    .search-list input , .search-button{
        display: none;
    }
}


